@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.DarkColor{
  @apply bg-gray-800 text-white
}

.LightColor{
  @apply bg-gray-100 text-gray-800
}

.DarkMobileMenu{
  @apply bg-gray-900 text-white
}
.LightMobileMenu{
  @apply bg-gray-100 text-gray-900
}

.DarkButton{
  @apply bg-gray-900 text-white  rounded-lg w-fit
}

.DarkHoverButton{
  @apply hover:bg-gray-800 hover:text-white
}
.LightHoverButton{
  @apply hover:bg-gray-100 hover:text-gray-800
}